*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // background-color: whitesmoke;
}

%title {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.wrapper {
  padding: 1rem 2rem;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  gap: 3rem;
  margin-top: 10rem;
  .side {
    background-color: #fff;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 0 1 10rem;
    opacity: 0 !important;
  }
}
a {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  // color: #777;

  &:active,
  &:visited {
    color: #777;
  }
}
h3 {
  @extend %title;
  color: #777;
}
.charts-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 1 30%;
  & .total-num-pat {
    flex: 0 1 20rem;
    background-color: rgb(66, 110, 255);
    padding: 1rem;
    color: #fff;
  }
  & .total {
    @extend %title;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: inherit;
  }
  & .num {
    @extend %title;
    margin: 0.5rem 0;
  }

  & .total-num-pay {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #053696;
    color: #fff;
    padding: 1rem;
    & .users {
      font-size: 3rem;
      color: #fff;
    }
  }

  & .approved {
    font-size: 1.5rem;
    margin: 0;
  }
  & .pat-an {
    background-color: #679dfc;
    color: #fff;
    padding: 1rem 2rem;
    & .pat-cont {
      display: flex;
      gap: 3rem;
    }
    & .an-chart {
      width: 10rem;
      height: 10rem;
      border: {
        width: 5px;
        color: #fff;
        left-color: rgb(211, 137, 137);
        style: solid;
      }

      border-radius: 50%;
      background-color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      & .percentage {
        font-size: 4rem;
      }
    }
    & .an-para-cont {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .approved {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: #fff;
          top: 0;
          left: -1.5rem;
          transform: translateY(50%);
        }
      }
    }
    & .approved-num {
      font-size: 2rem;
      margin: 0;
      font-weight: 700;
    }
  }
}

.chart-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 auto;
  & p {
    font-size: 4rem;
    color: #777;
    margin: 0;
  }
  & .per-title {
    margin: 0;
  }
  .per-product {
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    flex: 0 1 20rem;
    gap: 2rem;
    background-color: #ddd;
    max-height: 400px !important;
  }
  & .results-container {
    display: flex;
    // align-items: center;
    justify-content: space-between;
  }

  & .result-status {
    font-size: 1.5rem;
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    text-transform: capitalize;
  }
  & .app-rej {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #333;
      top: 5px;
      left: -1rem;
    }
  }
}
.chart-3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 1 30%;
  width: 100%;
}
